.data-hora{
    text-align: center;
}
#btn-dialog-fechar{
    position: absolute;
    top: 0;
    right: 0;
}

#div-btn-registrar-ponto {
    text-align: center;
}

#btn-registrar-ponto, #btn-dialog-registrar-ponto{
    font-family: "Montserrat", sans-serif;
    font-size: large;
    padding: 25px;  
    border: 0px;
    background-color: #5BA1C8;
    color: #ffffff;
    border-radius: 20px;
}

#btn-registrar-ponto:hover, #btn-dialog-registrar-ponto:hover{
    color: #ffffff;
    background-color: #000000;
}

.data-hora p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
}

#select-tipos-ponto {
    padding: 25px;
    border-radius: 20px;
    font-size: large;
    border: 0px;
}

#dialog-ponto {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    border-radius: 15px;
    border: 0px;
}

#btn-dialog-fechar {
    padding: 10px;
    font-size: large;
    border: 0px;
    color: #ffffff;
    background-color: red;
    border-radius: 3px;
}

#btn-dialog-fechar:hover {
    background-color: #ffffff;
    color: #000000;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

#div-alerta {
    background-color: green;
    color: #ffffff;
    padding: 15px;
    position: fixed;
    right: 15;
    bottom: 15;
}